body{
    background-color: brown !important
}

@media only screen and (min-width:200px) and (max-width:500px){
    .header{
        background: #000 !important;
        color: #fff;
    }
}

.header{
    background: #fff !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 22%;
}

.head-title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.img-res{
    margin-top: 170px
}

img{
    margin-left: 25px
}

.yazi-size{
    font-size: 50px;
    font-weight: 150;
    color: black;
}

.card{
    background-color: #fff;
    padding: 20px;
    width: 160px;
    border: 5px solid #000;
    margin-left: auto;
    margin-right: auto;
    display: table;
    font-weight: bold;
    font-size: 25px;
    font-family: cursive;
}